#POSTGRES
POSTGRES_USER=nicolas
POSTGRES_DB=hotel
POSTGRES_PASSWORD=nicolas123

#ADMIN
SECRET_KEY=django-insecure-sy(owjsi0)0p(=o3dqewj=e)1+_^_w)jpn0loqlh5s64h_1ls-
DEBUG=False
POSTGRES_HOST=postgres
DJANGO_SUPERUSER_USERNAME=nicolas
DJANGO_SUPERUSER_PASSWORD=nicolas241205n.
DJANGO_SUPERUSER_EMAIL=nico@gmail.com

#RECEPCIONISTA
POSTGRES_URL=postgresql+asyncpg://nicolas:nicolas123@postgres:5432/hotel
REDIS_HOST=cache
REDIS_PORT=6379
