#POSTGRES
POSTGRES_USER=nicolas
POSTGRES_DB=hotel
POSTGRES_PASSWORD=nicolas123

#ADMIN
SECRET_KEY=django-insecure-sy(owjsi0)0p(=o3dqewj=e)1+_^_w)jpn0loqlh5s64h_1ls-
DEBUG=False
POSTGRES_HOST=postgres
DJANGO_SUPERUSER_USERNAME=nicolas
DJANGO_SUPERUSER_PASSWORD=nicolas241205n.
DJANGO_SUPERUSER_EMAIL=nico@gmail.com

#RECEPCIONISTA
POSTGRES_URL=postgresql+asyncpg://nicolas:nicolas123@postgres:5432/hotel
REDIS_HOST=cache
REDIS_PORT=6379

#AUTH DB
AUTH_DB_USER=auth_user
AUTH_DB_NAME=auth_db
AUTH_DB_PASSWORD=auth_password123
AUTH_DB_URL=postgresql+asyncpg://auth_user:auth_password123@auth_db:5432/auth_db

#JWT
JWT_SECRET_KEY=change-this-to-a-long-random-secret
JWT_EXPIRE_MINUTES=480

#AUTH INITIAL USER
AUTH_INITIAL_USERNAME=recepcion
AUTH_INITIAL_PASSWORD=recepcion123
